<html lang="en">
<head>

  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="//jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
  <script src="//jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">



</head>
<body>
  <div class="btn-group btn-group-justified" role="group">
    {% if feature_request_id %}
    <a class="btn btn-primary" role="button" href= '../../'>Back</a>
    {% else %}
    <a class="btn btn-primary" role="button" href= '../'>Back</a>
    {% endif %}
  </div>
  <div class="container">
  <div class="row">
  {% if error_text %}
  <div class="control-group error">
    <label class="control-label" for="inputError">{{ error_text }}</label>
  </div>
  {% endif %}

  <div class="panel-heading">
    <h4 class="text-center">Request Feature</h4>
  </div>

  {% if feature_request_id %}
  <form id="request_form" action="/feature_requests/edit/{{ feature_request_id }}/" method="post" role="form">
  {% else %}
  <form id="request_form" action="/feature_requests/new/" method="post" role="form">
  {% endif %}
      {% csrf_token %}

      {{ form.version.as_hidden }}

      <div class="form-group">
        <label for="title">Request Title: </label>
        <input id="title" class="form-control" type="text" name="title" value="{% firstof form.title.value title %}">
      </div>

     <div class="form-group">
        <label for="description">Description: </label>
        <textarea id="description" rows="5" placeholder="Enter all details pertaining to request." class="form-control" type="text" name="description" value="{{ description }}">{% firstof form.description.value %}</textarea>
      </div>

       <div class="form-group">
         <label for="client">Client: </label>
        <select name="client" class="form-control">
          {% for client in client_list %}
            <option {% if client.id == form.client.value %} selected="selected" {% endif %} value="{{ client.id }}">{{ client.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="client_priority">Priority: (any whole number greater than 0)</label>
        <input id="client_priority" class="form-control" min = "1" type="integer" name="client_priority" value="{% firstof form.client_priority.value client_priority %}">
      </div>

      <div class="form-group">
        <label for="target_date">Target Date: </label>
        <input id="target_date" class="form-control" type="date" name="target_date" value='{% firstof form.target_date.value|date:'Y-m-d' target_date %}'>
      </div>

      <div class="form-group">
        <label for="ticket_url">Ticket URL: </label>
        <input id="ticket_url" class="form-control" type="text" name="ticket_url" value="{% firstof form.ticket_url.value ticket_url %}">
      </div>
      <div class="form-group">
        <label for="product_area">Product Area: </label>
        <select name="product_area" class="form-control">
         {% for pa in product_area_list %}
           <option {% if pa.id == form.product_area.value %} selected="selected" {% endif %} value="{{ pa.id }}">{{ pa.product_category }}</option>
         {% endfor %}
        </select>
      </div>

      <div class="panel-footer">
        <input type="submit" class="btn btn-lg btn-block btn-success" value="Submit">
      </div>


  </form>
</div>
</div>

<script>
  jQuery.validator.setDefaults({
    debug: false,
    success: "valid"
  });

  $( "#feature_request_form" ).validate({
    rules: {
      title: {
        required: true,
        maxlength: 100
      },
      description: {
        required: true,
        maxlength: 2000
      },
      client_priority: {
        required: true,
      },
      target_date: {
        required: true,
        date: true
      },
      ticket_url: {
        required: true,
        url: true
      }
    }
  });
</script>

</body>
</html>
