<html lang="en">
  <head>
    <meta charset="utf-8">

    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  </head>
  <body>

    <script>
    $(document).ready(function() {
        $('#data_table').DataTable({
          columnDefs: [
            { targets: 'non-text', orderable: false, searchable: false },
          ],
           responsive: true,
        });
      });

      function startDeleteModal(id)
      {
          $("#deleteModal").find(".modal-footer").find("a").attr("href","delete/" + id + "/");
      }
    </script>

    <div class="col-md-4 center-block">
      <div class="btn-group" role="group">
      {% if current_user.is_authenticated %}
        <a class="btn btn-primary" role="button" href='logout/'>Logout of {{current_user}}</a>
      {% else %}
        <a class="btn btn-primary" role="button" href='login/'>Login or Sign-Up</a>
      {% endif %}
      </div>
    </div>

    <div class="container">
      <div class="panel-heading">
        <h4 class="text-center">Features Requested</h4>
      </div>

      <div class="row">
        <div class="btn-group btn-group-justified" role="group">
          <a class="btn btn-primary" role="button" href='new/'>Request New Feature</a>
          <a class="btn btn-default" role="button" href='test/'>Add Test Clients and Product Areas</a>
        </div>
      </div>

      <div class="row">
      {% if feature_request_list %}
      <div class="table-responsive">
        <table id="data_table" class="order-column table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Request Title</th>
              <th>Client</th>
              <th>Priority</th>
              <th>Target Date</th>
              <th>Ticket URL</th>
              <th>Product Area</th>
              <th>Created By</th>
              <th class="non-text"></th>
              <th class="non-text"></th>
            </tr>
          </thead>
          <tbody>
            {% for fr in feature_request_list %}
            <tr id="rowId">
              <td>
                <a href="detail/{{ fr.id }}/">{{ fr.title }}</a>
              </td>
              <td>
                {{ fr.client.name }}
              </td>
              <td>
                {{ fr.client_priority }}
              </td>
              <td>
                {{ fr.target_date }}
              </td>
              <td>
                {{ fr.ticket_url }}
              </td>
              <td>
                {{ fr.product_area.product_category }}
              </td>
              <td>
                {{ fr.user.username }}
              </td>
              <td>
                <div class="btn-group" role="group">
                  <a id="deleteButton" {% if current_user != fr.user %} disabled {% endif %} role="button" onclick="startDeleteModal({{fr.id}})" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</a>
                </div>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <a id="editButton" {% if current_user != fr.user %} disabled {% endif %}  role="button" class="btn btn-info btn-sm" href='edit/{{ fr.id }}/'>Edit</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

      {% else %}
          <p class = "bg-info text-center" >No features have been requested yet!</p>
      {% endif %}
    </div>

    <div  id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete this Request?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <a class="btn btn-danger" href="">Yes</a>
          </div>
        </div>
      </div>>
    </div>

  </body>
</html>
